.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.email-field {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.email-input {
    flex: 7;
}