.Map{
    text-align: center;
}
.Svg{
    background-color: white;
    text-align: center;
    display: inline-grid;
    height:1000px;
    width:800px;
}
.OUTLINE {
    stroke-linejoin:round;
    stroke: black;
    stroke-width: 2;
}
.TEXT {
    fill: black;
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
}
#CD11 {
    fill: white;
}
#CD26 {
    fill: white;
}
#CD27 {
    fill: white;
}
#CD28 {
    fill: white;
}
#CD29 {
    fill: white;
}
#CD30 {
    fill: white;
}
#CD31 {
    fill: white;
}
#CD36 {
    fill: white;
}
#CD41 {
    fill: white;
}
#CD42 {
    fill: white;
}
#CD43 {
    fill: white;
}
#CD44 {
    fill: white;
}
#CD45 {
    fill: white;
}
#CD46 {
    fill: white;
}
#CD47 {
    fill: white;
}
#CD48 {
    fill: white;
}
#CD50 {
    fill: white;
}

